@import url('bootstrap.min.css');
@import url('magnific-popup.css');
@import url('owl.carousel.min.css');



html{
  -webkit-font-smoothing: antialiased;
}

body{
  font-family: 'Lato', sans-serif;
  font-family: "Dosis", sans-serif;
  font-size: 1rem;
  line-height: 1.625em;
  color:#767676;
  overflow-y: hidden;
}

::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #EC365A;
}

::selection{
  background-color:#EC365A;
  color:#000;
}

-webkit-::selection{
    background-color:#EC365A;
    color:#000;
}

::-moz-selection{
    background-color:#EC365A;
    color:#000;
}

 
/* 1.2 Typography */

.h1,.heading{ 
  position: relative;
  font-family: 'Tangerine', sans-serif;
  font-size: 5.725rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
}

h2,
.h2,.sub_heading{ 
  position: relative;
  font-family: 'Tangerine', sans-serif;
  font-weight: 700;
  font-size: 2.7rem;
  line-height: 1.2;
  color: #000;
  margin:2rem 0;
}


h3,
.h3{ 
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 1.925rem;
  line-height: 1.25;
  color: #000;
  margin:1.5rem 0;
}

h4,
.h4{ 
  font-family: 'Karla', sans-serif;
  font-weight: 600;
  font-size: 1.525rem;
  line-height: 1.2;
  color: #000;
  margin:1.5rem 0;
}

h5,
.h5{ 
  font-family: 'Karla', sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.2;
  color: #000;
  margin:1.2rem 0;
}

h6,
.h6{ 
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 1px;
  line-height: 1.2;
  color: #000;
  margin:1rem 0;
  text-transform: uppercase;
}


h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h6 a,
.h6 a{
  color:inherit;
}

h1 a:hover,
.h1 a:hover,
h2 a:hover,
.h2 a:hover,
h3 a:hover,
.h3 a:hover,
h4 a:hover,
.h4 a:hover,
h5 a:hover,
.h5 a:hover,
h6 a:hover,
.h6 a:hover{
  text-decoration: none;
}

p{
  margin-bottom: 1rem;
}

ul{
  list-style: none;
  padding-left: 0;
}

a {
  color:#EC365A;
  -webkit-transition: color .3s ease-out;
       -o-transition: color .3s ease-out;
          transition: color .3s ease-out;
}

a:hover,
a:focus {
  color:#EC365A;
  outline: none;
}

a:focus{
  text-decoration: none;
}

.lead{
  line-height: 1.9;
  font-size: 1.125rem;
}

.size-sm{
  font-size: 0.875rem;
}


/* Fields */ 

.form-group{
  margin-bottom: 2rem;
}

.form-control,
textarea.form-control{
  font-size: 1em;
  height: 3.625em;
  border-radius: 0;
  padding-left: 22px;
  color: #ffffff;
  background-color: rgba(255,255,255,0.2);
  border-radius:20px;
  border:1px solid rgba(255,255,255,0.4);
  -webkit-box-shadow:none;
          box-shadow:none;
      -webkit-appearance: none;
  -webkit-transition: all .15s;
       -o-transition: all .15s;
          transition: all .15s;
}

textarea.form-control{
  height: 7.9em;
  padding-top:1.1em;
  resize:none;
}

.form-control:focus{
  border-color:rgba(255,255,255,0.6);
  outline: 0;
  background-color: rgba(255,255,255,0.5);
  color: #ffffff;
  -webkit-box-shadow:none;
          box-shadow:none;
          background-color: none;
}
.form-control option:hover {
  background-color: #EC365A !important;
}
.form-control::-moz-placeholder {
  color: #ffffffaa;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #bbbbbb;
}

.form-control::-webkit-input-placeholder {
  color: #ffffff;
}

label.error{
  border-color:#EC365A;
  padding:9px 0 0 22px;
  font-size:0.9rem;
}

.mc-label{
  padding:9px 0 0 22px;
  font-size:0.9rem;
  color: #fff;
}



/* Buttons */

.btn{
  font-family: 'Karla', sans-serif;
  position: relative;
  display: inline-block;
  border:0.2em solid #EC365A;
  border-radius: 0;
  padding:1em 2.4em 1em;
  font-size: 0.875em;
  color:#EC365A;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #EC365A;
  background-color:transparent;
  font-weight: 700;
  border-width: 1px;
  -webkit-transition: all .3s ease-out!important;
          transition: all .3s ease-out!important;
}

.btn:hover,
.btn:focus,
.btn:active{
  border-radius: 5px;
  color: #fff;
  background-color: #EC365A;
  border-color:#EC365A;
  -webkit-box-shadow:none;
  box-shadow: none;
  outline: none!important;
}

.btn-white{
  background-color: #fff;
  border-color: #fff;
  color: #343434;
}

.btn-white:hover{
  background: transparent;
  border-color: #fff;
  color: #fff;
}

.btn-b-white{
  background-color: transparent;
  border-color: #fff;
}

.btn-b-white:hover{
  background-color: #fff;
  color: #000;
}

.btn-bg-dark:hover,
.btn-bg-dark:focus{
  color: #fff;
  border-color:#fff;
}


/* Video Icons */

.icon-play{
  position: absolute;
  width:5.15rem;
  height: 5.15rem; 
  left: 50%;
  top:50%;
  transform:translate(-50%,-50%);
  border:1px solid #fff;
  border-radius: 50%;
  transition:all 0.3s ease;
} 

.icon-play:before{
  position: absolute;
  top: 50%;
  left: 50%;
  margin:-6px 0 0 -5px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 12px;
  border-color: transparent transparent transparent #fff;
}

.icon-play:hover{
  border:1px solid #EC365A;
  background-color:#EC365A; 
  color: #343434;
}

.icon-play:hover:before{
  border-color: transparent transparent transparent #000;
}


/* Pri-Loader */ 

.loader{
  position:absolute;
  z-index: 10;
  z-index: 100;
  left: 0;
  width: 100%;
  top:0;
  height: 100%;
  background: #fff;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.double-bounce1, .double-bounce2 {
  background-image: url('../img/hearts.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}
.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* Backgrounds */

.bg-light{
  background: #f5f5f5!important;
}

.bg-dark{
  background:#1d1d1d!important;
  color:#86878a;
}

.bg-dark .row-experience:nth-child(even){
  background-color:#272727;
}

.bg-dark .btn:hover,
.bg-dark .btn:focus{
  color: #fff
}
.bg-dark .progress{
  background: #383838;
}

/* Colors */ 
.text-dark{
  color:#000!important;
} 
.text-white{
  color:#fff!important;
} 
.text-gray{
  color:#767676!important;
} 
.text-muted{
  color: #bbbbbb!important;
} 
.text-primary{
  color:#EC365A!important;
}

/* Navbar */ 

.navbar{
  position: absolute;
  z-index: 10;
  width: 100%;
  padding: 0 1.5rem;
  border-bottom: 1px solid rgba(52,52,52,0.1);
  height:3.7rem;
}


@media(min-width: 992px){
  .navbar{
    padding: 0 3rem;
  }
}

@media(max-width: 992px){
  .navbar{
    background-color: white;
    opacity: 60%;
  }
}

.navbar-brand{
  position: absolute;
  font-family: 'Tangerine', sans-serif;
  font-family: "Dosis", sans-serif;
  font-size:1.875rem;
  font-weight: 700;
  color: #EC365A!important;
  margin-right: 4rem;
  padding:0;
  line-height: 1;
}

@media (max-width: 1500px){
  .navbar-brand{
    position: static;
    float: left;
  }
  .navbar .container{
    width: auto;
  } 
}

/* Navbar Fixed */ 
.navbar.fixed{
  position: fixed;
  z-index: 10;
  top:0;
  box-shadow:0 0 30px rgba(0,0,0,0.1);
} 
.navbar.fixed:before{
  height: 100%;
} 
/* Navbar White */ 
.navbar-white{
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.navbar-white:not(.fixed) .phone,
.navbar-white:not(.fixed) .email,
.navbar-white:not(.fixed) a,
.navbar-white:not(.fixed) a:hover{
    color: #fff;
}

.navbar-white:not(.fixed) .navbar-nav-desctop li a{
  color: #fff;
}

.navbar-white:not(.fixed) .navbar-nav-desctop > .active > a,
.navbar-white:not(.fixed)  .navbar-nav-desctop > li > .active, 
.navbar-white:not(.fixed)  .navbar-nav-desctop > li:hover > a {
    color: #23a592;
}

.navbar-white:not(.fixed) .social-icons ion-icon{
  color: #fff;
}

.navbar-white:not(.fixed) .social-icons ion-icon:hover{
  color: #23a592;
}

.navbar-white:not(.fixed) .toggler-icon{
  border-color: #fff;
}


/*  Main */
 
/* Home */
 
.masthead{
  position: relative;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  padding:9rem 0 5rem 0;
  background-position: left top;
  background-size: cover;
}

.opener{
  position: relative;
  z-index: 1;
  width: 100%;
}

.opener .modal-content{
  background-color: rgba(255,255,255,0.9);
}

h1{
  margin-top:5vh;
  width: 25%;
  margin: 0 auto;
  border-top:3px  solid #EC365A;
  transition:all .3s ease;
}

.wishis{
  font-size: 36px;
  font-family: "Dosis", sans-serif;
  position: relative;
  top: 50%;
  display: inline-block;
}
.wishis::after{
  content: '';
  width: 100%;
  height: 2px;
  top: -50%;
  left: 0;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
}
.wishis::before{
  content: '';
  width: 100%;
  height: 2px;
  bottom: -50%;
  left: 0;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
}
.wishis > span{
  display: inline-block;
}
.sub_title{
  text-transform: uppercase;
}
.couple-names{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
@media(min-width: 992px){
  .couple-names{
    padding-top: 50px;
  }
}

.flower_set{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

 
/* Sections */
 
.section{
  position: relative;
  padding:9rem 0;
}

.section-sm{
  padding: 6rem 0;
}

.section h2{
  margin-top: 0;
}

.pp-section{
  background: #fff;
  background-position: 50%;
  background-size: cover;
  padding:8rem 0 6rem;
}

.section:not(#home) .intro{
  opacity: 0;
  transform:translateY(-40px);
  transition:all 0.7s;
}

.section:not(#home) .intro.animate{
  opacity: 1;
  transform:translateY(0);
}

.pp-scrollable{
  padding:0;
  overflow-x: hidden;
}

.pp-scrollable .intro{
  width: 100%;
  height: 100%;
  white-space: nowrap;
}

.pp-scrollable .intro:before{
  content: '';
  display: inline-block;
  height: 100vh;
  vertical-align: middle;
}

.pp-scrollable .scroll-wrap{
  width: 100%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 8rem 0 6rem;
  white-space: normal;
}

.progress-nav{
  position: fixed;
  z-index: 10;
  top: 50%;
  right:1.5rem;
  transform: translate(0,-50%);
}
@media(min-width: 992px){
  .progress-nav{
    right: 3rem;
  }
}

.progress-nav li{
  position: relative;
  width: 3px;
  height:30px;
  -webkit-transition: background-color .3s cubic-bezier(.46,.03,.52,.96);
  transition: background-color .3s cubic-bezier(.46,.03,.52,.96);
  background-color: #000;
}

.progress-nav li:before{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 3px;
  height: 0;
  content: '';
  transition:all .3s ease;
   background-color: #EC365A;
}

.progress-nav li:before{
  height: 30px;
}

.progress-nav li.active ~ li:before {
    background-color: #101010;
}

.progress-nav-white li.active ~ li:before{
  background-color: #fff;
}

/* Home */

#home {
  text-align: center;
}
#home .scroll-wrap{
  padding: 0 !important;
}
.bg_flower{
  position: relative;
}
.couple-names .animate__animated.animate__bounceInLeft,.couple-names .animate__animated.animate__bounceInRight {
  --animate-duration: 3s;
}
.bg_flower .animate__animated.animate__backInDown {
  --animate-duration: 5s;
}
.saveDate{
  margin: 20px;
  font-size: 18px;
  position: relative;
}
.saveDate::before{
  content: "";
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 200px;
  background-image: url('../img/topline.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}
.saveDate::after{
  content: "";
  position: absolute;
  bottom: -180%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 200px;
  background-image: url('../img/bottomline.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}

/* Counter */

.counter_cover_1{
  transform: translateY(-100%);
  opacity: 0 !important;
  transition: 1s;
}
.active .counter_cover_1{ 
  transform: translateY(0);
  opacity: 1 !important;
  transition: 3s;
}
.counter_cover_2{
  transform: translateY(100%);
  opacity: 0 !important;
  transition: 1s;
}
.active .counter_cover_2{ 
  transform: translateY(0);
  opacity: 1 !important;
  transition: 3s;
}

#clock{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#clock div{
  text-align: center;
  display: inline-block;
  font-size: 48px;
  color: #EC365A;
}
#clock div span{
  margin-top: 20px;
  display: block;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  color: #1d1d1d;
}

/* Progress_Bar */

.progress{
  height: 6px;
  border-radius: 0;
  background-color: #000;
}

.progress-bar{
  position: relative;
  background-color: transparent;
}

.progress-bar:before{
  position: absolute;
  background:#EC365A;
  content:'';
  width:0;
  height: 100%;
}

.active .progress-bar:before{
  width: 100%;
  transition:all 0.8s  ease;
}

.progress-item:nth-child(1) .progress-bar:before{
  transition-delay: 400ms;
}

.progress-item:nth-child(2) .progress-bar:before{
  transition-delay: 600ms;
}

.progress-item:nth-child(3) .progress-bar:before{
  transition-delay: 800ms;
}

/* Owl Carousel */

.owl-dots{
  position: absolute;
  width: 100%;
  margin-top:1.5rem;
  text-align: center;
}

.owl-dot{
  display: inline-block;
  margin:0 0.35rem;
}

.owl-dot:focus{
  outline: none;
}

.owl-dots span{
  display: block;
  width: 20px;
  height:3px;
  background-color: #d6d6d6;
}

.owl-dot.active span{
  background-color: #EC365A;
}
#gallary .owl-nav{
  margin-bottom:4.6rem;
}
#gallary.active span{
  color: #EC365A;
}
.owl-nav{
  font-family: 'Tahoma';
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -8.6rem;
  font-size: 6rem;
}

.owl-prev{
  margin-right: 0.6rem;
}

.owl-next,
.owl-prev{
  opacity: 0.45;
  transition: all 0.3s;
}

.owl-prev:focus,
.owl-next:focus{
  outline: none;
}

.owl-prev:hover,
.owl-next:hover{
  opacity: 1!important;
  color:#EC365A!important;
}
 
/* Bridal & Groom */
 
.photo-icon{
  position: absolute; 
  transition:all .6s .4s ease;
  opacity: 0;
}

.photo-icon-1{
  left:-20px;
  bottom:-20px;
  opacity: 1;
}
.photo-icon-2{
  right:-20px;
  top:-20px;
  opacity: 1;
}

.photo-icon-1 img{
  opacity: 0;
  transform: translate(-20%,50%);
  transition: 1s;
}
.active .photo-icon-1 img{
  opacity: 1;
  transform: translate(0,0);
  transition: 3s;
}
.photo-icon-2 img{
  opacity: 0;
  transform: translate(20%,-20%);
  transition: 1s;
}
.active .photo-icon-2 img{
  opacity: 1;
  transform: translate(0,0);
  transition: 3s;
}

.bridal-section{
  position: relative;
}
.bridal-section::after{
  content: '';
  width: 50%;
  height: 50%;
  background-image: url('../img/treebranch1.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  right: 0;
  opacity: 0.2;
  position: absolute;
}
.groom-section::after{
  content: '';
  width: 50%;
  height: 50%;
  background-image: url('../img/treebranch2.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  left: 0%;
  opacity: 0.2;
  position: absolute;
}
.couple_image{
  position: relative;
}
.couple_image::after{
  content: "";
  top:-12%;
  left: -10%;
  width: 460px;
  height: 460px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 999;
  background-image: url('../img/flower1.png');
  position: absolute;
  animation: rotateimage 60s infinite linear;
}
.signature{
  font-size: 28px;
  font-family: 'Tangerine', sans-serif;
}

@keyframes rotateimage {
  0%{
    transform:rotate(0deg) ;
  }100%{
    transform:rotate(360deg) ;
  }
  
}
/* Events */

.icon-quote{
  display: inline-block;
  margin-left: -2rem;
  line-height: 1;
  font-size: 12rem;
  margin-top: -2rem; 
} 
.owl-nav{
  position: static;
  margin-top: 5rem;
} 
.event{
  background-color: rgba(255,255,255,0.4);
  border-radius: 10px;
  padding: 20px;
}


/* Contact */ 

.message{
  margin-bottom: 2rem;
  display: none;
}
.Contact_Section, .events-sections{
  position: relative;
}
.Contact_Section::after, .events-sections::after, .map_Section::after{
  content: "";
  top: 0;
  left:0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
}
.right-border{
  border-right:2px solid rgba(255,255,255,0.4) ;
}
#Counter {
  transition: 0.5s;
}

@media (max-width:1024px){
  #clock div{
    font-size: 38px;
  }
  .wishis{
    font-size: 32px;
  }
  .heading{
    font-size: 4rem;
  }
  .flower_set img{
    width: 60%;
  }
  .couple_image img{
    width: 80%;
  }
  .couple_image::after{
    content: "";
    top:-4%;
    left:5%;
    width: 320px;
    height: 320px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 999;
    background-image: url('../img/flower1.png');
    position: absolute;
    animation: rotateimage 60s infinite linear;
  }
}
@media (max-width:765px){
  .h1{
    font-size: 2.525rem;
  }
  .flower_set img{
    width: 50%;
  }
  .couple_image img{
    width: 50%;
  }
  .couple_image::after{
    content: "";
    top:-14%;
    left: 20%;
    width: 225px;
    height: 225px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 999;
    background-image: url('../img/flower1.png');
    position: absolute;
    animation: rotateimage 60s infinite linear;
  }
  #clock div{
    font-size: 28px;
  }
  .right-border{
    border:none
  }
  .couple-names{
    flex-direction: column;
  }
  .wishis{
    font-size: 18px;
  }
  .bottom-space{
    margin-bottom: 50px !important;
  }
  .top-space{
    margin-top: 50px !important;
  }
  #Counter .row{
    flex-direction: column-reverse;
  }
}
@media (max-width:380px){
  .h1{
    font-size: 2rem;
    margin-top: 30px !important;
  }
  .flower_set{
    display: none;
  }
  #clock div{
    font-size: 24px;
  }
  .bottom-space{
    margin-bottom: 20px !important;
  }
  .couple_image img{
    width: 40%;
  }
  .couple_image::after{
    content: "";
    top:-12%;
    left: 25%;
    width: 160px;
    height: 160px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 999;
    background-image: url('../img/flower1.png');
    position: absolute;
    animation: rotateimage 60s infinite linear;
  }
}